body{
    font-family: "B Nazanin", Tahoma;
    background-color: #cdfff5;
    margin: 0px;
    padding: 0px;
}

ul{
    margin-top: 0px;
}


a{
    color: black;
}

#b1{
    color: black;
    font-family:"B Nazanin" , Tahoma;
    font-size: 24pt;
}

#t1{
    color: black;
    font-size: 15pt;
    font-family:"B Nazanin" , Tahoma;
    //background-color: lightsteelblue;
}

.star{
     color: red;
     display: none;
}


a{
    text-decoration: none;
}


#menu {
    width: 100%;
    float: right;
    direction: rtl;
    list-style: none;
    background: gray;
    padding-right: 2px;
    border-radius: 10px;
    font-size: 16pt;
    font-weight: bold;
}

#menu li{
    float:right;
    padding-left:20px;
    list-style:none;
    position:relative;

}

#menu li a{
    float:none;
    text-decoration:none;
    line-height:30px;
    color:#2b2b2b;
}
#menu li ul{
    float:none;
    position:absolute;
    width:130px;
    top:30px;
    padding-right:2px;
    padding-left:0px;
    background:gray;
    display:none;
    border-radius:0 0 5px 5px;

}
#menu li a:hover{
    background:#999;
    border-radius: 10px 10px 10px 10px;
}

#menu li:hover ul{
    display:block;
    border-radius: 10px 10px 10px 10px;
}

#hb_right{
    background: no-repeat;
    color: #fff;
    line-height: 30px;
    font-size: 18px;
}

#footer{
    color: #2b2b2b;
    font-size: 16pt;
    text-align: center;
}


